<template>
  <div>
    <v-container>
      <v-row>
        <v-col>
          <p class="display-1 font-weight-light">
            Hi <span class="error--text">{{ userName }}</span
            >!
          </p>
          <v-btn fixed left large fab color="error darken-2" @click="signOut">
            <v-icon>mdi-logout</v-icon></v-btn
          >
          <p class="subtitle-1 grey--text text--lighten-2">
            Welcome to the members only page.
          </p>
          <p class="subtitle-1 grey--text text--lighten-2">
            We're on a journey to build an amazing AWS User Group, and part of
            our journey is building an awesome website. We want you to be part
            of that journey. You can see what features we're currently working
            on. If you have any suggestions or feedback,
            <a href="mailto:enquiries@awsug.nz">we'd love to hear from you.</a>
          </p>
        </v-col>
      </v-row>
      <amplify-photo-picker
        v-bind:photoPickerConfig="photoPickerConfig"
      ></amplify-photo-picker>
      <!-- <amplify-s3-album
        path="/certs"
        v-bind:s3AlbumConfig="s3AlbumConfig"
      ></amplify-s3-album> -->
      <v-row>
        <v-col>
          <v-card max-width="500">
            <v-toolbar color="secondary">
              <v-toolbar-title>Features in progress</v-toolbar-title>

              <v-spacer></v-spacer>

              <v-btn icon large>
                <v-icon>mdi-progress-clock</v-icon>
              </v-btn>
            </v-toolbar>

            <v-list two-line>
              <v-list-item-group
                v-model="selected"
                multiple
                active-class="pink--text"
              >
                <template v-for="(item, index) in items">
                  <v-list-item :key="item.title">
                    <template v-slot:default="{ active, toggle }">
                      <v-list-item-content>
                        <v-list-item-title
                          v-text="item.title"
                        ></v-list-item-title>
                        <v-list-item-subtitle
                          class="text--primary"
                          v-text="item.headline"
                        ></v-list-item-subtitle>
                        <v-list-item-subtitle
                          v-text="item.subtitle"
                        ></v-list-item-subtitle>
                      </v-list-item-content>

                      <v-list-item-action>
                        <v-list-item-action-text
                          v-text="item.action"
                        ></v-list-item-action-text>
                        <v-icon v-if="!active" color="grey lighten-1">
                          mdi-star-outline
                        </v-icon>

                        <v-icon v-else color="yellow">
                          mdi-star
                        </v-icon>
                      </v-list-item-action>
                    </template>
                  </v-list-item>

                  <v-divider
                    v-if="index + 1 < items.length"
                    :key="index"
                  ></v-divider>
                </template>
              </v-list-item-group>
            </v-list>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import { Auth } from "aws-amplify";
// Storage.configure({ level: "private " });
const photoPickerConfig = {
  header: "Certification Upload",
  path: "certs/",
  storageOptions: { level: "private" }
};
const s3AlbumConfig = {
  storageOptions: { level: "private" }
};

export default {
  name: "App",

  data: () => ({
    photoPickerConfig,
    s3AlbumConfig,
    userName: "",
    userId: "",
    instruction: "mdi-school",
    justify: "space-around",
    align: "start",
    err: "",
    selected: [0, 1, 2, 6],
    items: [
      {
        action: "Feb-2020",
        headline: "Launch V1 of the new website",
        title: "Launch New Website",
        subtitle: "MVP + X-factor"
      },
      {
        action: "Feb-2020",
        headline: "AWS Amplify Auth",
        title: "Members only area",
        subtitle: "Enable member registration, sign-in and sign-out"
      },
      {
        action: "Feb-2020",
        headline: "AWS Amplify Storage",
        title: "Uploading certs",
        subtitle: "Configure site so users can upload their certifications"
      },
      {
        action: "Mar-2020",
        headline: "AWS Amplify Storage",
        title: "Uploading certs",
        subtitle: "I want to be able to view and delete my certs"
      },
      {
        action: "Feb-2020",
        headline: "AWS Amplify Auth",
        title: "Members area",
        subtitle: "I want to be able to reset password!"
      },
      {
        action: "Feb-2020",
        headline: "Manage user profile",
        title: "Members area",
        subtitle: "View and update personal information and preferences"
      },
      {
        action: "Feb-2020",
        headline: "Workmail",
        title: "Contact us",
        subtitle: "Setup the enquiries@awsug.nz workmail account"
      },
      {
        action: "Mar-2020",
        headline: "First blog topic... any ideas?",
        title: "Blogging",
        subtitle: "Publish our first blogpost"
      },
      {
        action: "Mar-2020",
        headline: "Allow registered users to add comments to blogs",
        title: "Blogging",
        subtitle: "Publish our first blogpost"
      },
      {
        action: "Mar-2020",
        headline: "Version 1",
        title: "Leaderboard",
        subtitle: "Dynamically rank members by total AWS certs obtained"
      }
    ]
  }),
  methods: {
    async signOut() {
      await Auth.signOut()
        .then(data => (this.info = data))
        .catch(err => (this.err = err));
      this.$router.push("/");
    },
    async getUser() {
      try {
        const user = await Auth.currentUserInfo();
        this.userName = user.username;
        this.userId = user.attributes.sub;
        // const idToken = cognitoUserSession.getIdToken();
        // return idToken.getJwtToken();
      } catch (e) {
        this.err = e;
      }
    }
  },
  created: function() {
    this.getUser();
  }
};
</script>

<style lang="scss" scoped></style>
