<template>
  <div>
    <v-container>
      <h1 class="display-2 my-3">Society Rules</h1>

      <h1 class="mt-6">The Society</h1>
      <v-divider></v-divider>

      <h2 class="mt-3">1 Name</h2>
      <h3>
        1.1 The name of the society is Amazon Web Services User Group Aotearoa
        Incorporated ("the Society").
      </h3>
      <h3>
        1.2 The Society is constituted by resolution dated 1st August, 2019.
      </h3>

      <h2 class="mt-3">2 Registered Office</h2>
      <h3>2.1 The Registered Office of the Society is [street address].</h3>
      <h2 class="mt-3">3 Purposes of Society</h2>

      <h3>3.1 The purposes of the Society are to:</h3>
      <ul class="ml-3">
        <li>Build the next generation of AWS professionals</li>
        <li>Inclusive of everyone</li>
        <li>Career progression and job matchmaking</li>
        <li>Promoting excellence in the development of AWS solutions</li>
      </ul>

      <h3>3.2 Pecuniary gain is not a purpose of the Society.</h3>

      <h1 class="mt-6">Management of the Society</h1>
      <v-divider></v-divider>

      <h2 class="mt-3">4 Managing Committee</h2>

      <h3>
        4.1 The Society shall have a managing committee (“the Committee”),
        comprising the following persons:
      </h3>
      <ul class="ml-3">
        <li>2x Co-Presidents;</li>
        <li>The Secretary;</li>
        <li>The Treasurer; and</li>
        <li>Such other Members as the Society shall decide.</li>
      </ul>
      <br />
      <h3>
        4.2 Only Members of the Society may be Committee Members.
      </h3>
      <h3>
        4.3 There shall be a minimum of three Committee Members, in addition to
        the Officers.
      </h3>
      <h2 class="mt-3">5 Appointment of Committee Members</h2>

      <h3>
        5.1 At a Society Meeting, the Members may decide by majority vote:
      </h3>
      <ul class="ml-3">
        <li>How large the Committee will be;</li>
        <li>Who shall be the Co-Presidents, Secretary, and Treasurer;</li>
        <li>
          Whether any Committee Member may hold more than one position as an
          officer;
        </li>
        <li>How long each person will be a Committee Member ("the Term").</li>
      </ul>
      <h2 class="mt-3">6 Cessation of Committee Membership</h2>
      <ol>
        <li>Persons cease to be Committee Members when:</li>
      </ol>
      <ul class="ml-3">
        <li>They resign by giving written notice to the Committee.</li>
        <li>
          They are removed by majority vote of the Society at a Society Meeting.
        </li>
        <li>Their Term expires.</li>
      </ul>
      <ol start="2">
        <li>
          If a person ceases to be a Committee Member, that person must within
          one month give to the Committee all Society documents and property.
        </li>
      </ol>
      <h2 class="mt-3">7 Nomination of Committee Members</h2>
      <ol>
        <li>
          Nominations for members of the Committee shall be called for at least
          28 days before an Annual General Meeting.
        </li>
        <li>
          Each candidate shall be proposed and seconded in writing by Members
          and the completed nomination delivered to the Secretary. Nominations
          shall close at 5pm on the fifth day before the Annual General Meeting.
          [See also rule 21.4(b)] All retiring members of the Committee shall be
          eligible for re-election.
        </li>

        <li>
          If the position of any Officer becomes vacant between Annual General
          Meetings, the Committee may appoint another Committee Member to fill
          that vacancy until the next Annual General Meeting.
        </li>

        <li>
          If the position of any Committee Member becomes vacant between Annual
          General Meetings, the Committee may appoint another Society Member to
          fill that vacancy until the next Annual General Meeting.
        </li>

        <li>
          If any Committee Member is absent from three consecutive meetings
          without leave of absence the either Co-President may declare that
          person’s position to be vacant.
        </li>
      </ol>

      <h2 class="mt-3">8 Role of the Committee</h2>

      <ol>
        <li>
          Subject to the rules of the Society (“The Rules”), the role of the
          Committee is to:
        </li>
      </ol>
      <ul class="ml-3">
        <li>Administer, manage, and control the Society;</li>
        <li>
          Carry out the purposes of the Society, and Use Money or Other Assets
          to do that;
        </li>
        <li>
          Manage the Society’s financial affairs, including approving the annual
          financial statements for presentation to the Members at the Annual
          General Meetings;
        </li>
        <li>
          Set accounting policies in line with generally accepted accounting
          practice
        </li>
        <li>Delegate responsibility and co-opt members where necessary</li>
        <li>Ensure that all Members follow the Rules;</li>
        <li>
          Decide how a person becomes a Member, and how a person stops being a
          Member;
        </li>
        <li>
          Decide the times and dates for Meetings, and set the agenda for
          Meetings;
        </li>
        <li>Decide the procedures for dealing with complaints;</li>
        <li>Set Membership fees, including subscriptions and levies;</li>
        <li>Make regulations.</li>
      </ul>
      <ol start="2">
        <li>
          The Committee has all of the powers of the Society, unless the
          Committee’s power is limited by these Rules, or by a majority decision
          of the Society.
        </li>
        <li>
          All decisions of the Committee shall be by a majority vote. In the
          event of an equal vote, the Co-Presidents shall have a joint casting
          vote, that is, a second vote.
        </li>
        <li>
          Decisions of the Committee bind the Society, unless the Committee’s
          power is limited by these Rules or by a majority decision of the
          Society.
        </li>
      </ol>

      <h2 class="mt-3">9 Roles of Committee Members</h2>

      <ol>
        <li>The Co-Presidents are responsible for:</li>
      </ol>
      <ul class="ml-3">
        <li>Ensuring that the Rules are followed;</li>
        <li>
          Convening Meetings and establishing whether or not a quorum (half of
          the Committee) is present;
        </li>
        <li>Chairing Meetings, deciding who may speak and when;</li>
        <li>Overseeing the operation of the Society;</li>
        <li>
          Providing a report on the operations of the Society at each Annual
          General Meeting.
        </li>
      </ul>

      <ol start="2">
        <li>The Secretary is responsible for:</li>
      </ol>
      <ul class="ml-3">
        <li>Recording the minutes of Meetings;</li>
        <li>Keeping the Register of Members;</li>
        <li>
          Holding the Society's records, documents, and books except those
          required for the Treasurer’s function;
        </li>
        <li>
          Receiving and replying to correspondence as required by the Committee;
        </li>
        <li>
          Forwarding the annual financial statements for the Society to the
          Registrar of Incorporated Societies upon their approval by the Members
          at an Annual General Meeting.
        </li>
        <li>
          Advising the Registrar of Incorporated Societies of any rule changes;
        </li>
      </ul>
      <ol start="3">
        <li>The Treasurer is responsible for:</li>
      </ol>
      <ul class="ml-3">
        <li>
          Keeping proper accounting records of the Society’s financial
          transactions to allow the Society’s financial position to be readily
          ascertained;
        </li>
        <li>
          Preparing annual financial statements for presentation at each Annual
          General Meeting. These statements should be prepared in accordance
          with the Societies’ accounting policies (see 8.1).
        </li>
        <li>Providing a financial report at each Annual General Meeting;</li>
        <li>
          Providing financial information to the Committee as the Committee
          determines.
        </li>
      </ul>
      <h2 class="mt-3">10 Committee Meetings</h2>
      <ol>
        <li>
          Committee meetings may be held via video or telephone conference, or
          other formats as the Committee may decide;
        </li>
        <li>
          No Committee Meeting may be held unless more than half of the
          Committee Members attend;
        </li>
        <li>
          Either of the two Co-Presidents shall chair Committee Meetings, or if
          both Co-Presidents are absent, the Committee shall elect a Committee
          Member to chair that meeting;
        </li>
        <li>Decisions of the Committee shall be by majority vote;</li>
        <li>
          The Co-Presidents or single person acting as Co-President has a single
          casting vote, that is, a second vote;
        </li>
        <li>
          Only Committee Members present at a Committee Meeting may vote at that
          Committee Meeting.
        </li>
        <li>
          Subject to these Rules, the Committee may regulate its own practices;
        </li>
        <li>
          Either Co-President or their nominee shall adjourn the meeting if
          necessary.
        </li>
        <li>
          Adjourned Meetings: If within half an hour after the time appointed
          for a meeting a quorum is not present the meeting, if convened upon
          requisition of members, shall be dissolved; in any other case it shall
          stand adjourned to a day, time and place determined by the
          Co-Presidents of the Society, and if at such adjourned meeting a
          quorum is not present the meeting shall be dissolved without further
          adjournments. The Co-Presidents may with the consent of any Society
          Meeting adjourn the same from time to time and from place to place but
          no business shall be transacted at any adjourned meeting other than
          the business left unfinished at the meeting from which the adjournment
          took place.
        </li>
      </ol>
      <h1 class="mt-6">Society membership</h1>
      <v-divider></v-divider>
      <h2 class="mt-3">11 Types of Members</h2>
      <ol>
        <li>
          Membership may comprise different classes of membership as decided by
          the Society.
        </li>
        <li>
          Members have the rights and responsibilities set out in these Rules.
        </li>
      </ol>
      <h2 class="mt-3">12 Admission of Members</h2>

      <ol>
        <li>
          To become a Member, a person (“the Applicant”) must:
        </li>
      </ol>
      <ul class="ml-3">
        <li>
          Complete an application form, if the Rules, Bylaws or Committee
          requires this; and
        </li>
        <li>Supply any other information the Committee requires.</li>
      </ul>
      <ol start="2">
        <li>
          The Committee may interview the Applicant when it considers Membership
          applications.
        </li>
        <li>
          The Committee shall have complete discretion when it decides whether
          or not to allow the Applicant become a Member. The Committee shall
          advise the Applicant of its decision, and that decision shall be
          final.
        </li>
      </ol>

      <h2 class="mt-3">13 The Register of Members</h2>
      <ol>
        <li>
          The Secretary shall keep a register of Members (“the Register”), which
          shall contain the names and email addresses of all Members, and the
          dates at which they became Members.
        </li>
        <li>
          If a Member’s contact details change, that Member shall give the email
          address to the Secretary.
        </li>
        <li>
          Each Member shall provide such other details as the Committee
          requires.
        </li>
        <li>
          Members shall have reasonable access to the Register of Members.
        </li>
      </ol>
      <h2 class="mt-3">14 Cessation of Membership</h2>
      <ol>
        <li>
          Any Member may resign by giving written notice to the Secretary.
        </li>

        <li>
          Membership terminated in the following way:
        </li>
      </ol>
      <p class="mt-3">
        If, for any reason whatsoever, the Committee is of the view that a
        Member is breaching the Rules or acting in a manner inconsistent with
        the purposes of the Society, the Committee may give written notice of
        this to the Member (“the Committee’s Notice”). The Committee’s Notice
        must:
      </p>
      <ul class="ml-3">
        <li>
          Explain how the Member is breaching the Rules or acting in a manner
          inconsistent with the purposes of the Society;
        </li>
        <li>
          State what the Member must do in order to remedy the situation; or
          state that the Member must write to the Committee giving reasons why
          the Committee should not terminate the Member’s Membership.
        </li>
        <li>
          State that if, within 14 days of the Member receiving the Committee’s
          Notice, the Committee is not satisfied, the Committee may in its
          absolute discretion immediately terminate the Member’s Membership.
        </li>
        <li>
          State that if the Committee terminates the Member’s Membership, the
          Member may appeal to the Society.
        </li>
        <li>
          Fourteen days after the Member received the Committee’s Notice, the
          Committee may in its absolute discretion by majority vote terminate
          the Member’s Membership by giving the Member written notice
          (“Termination Notice”), which takes immediate effect. The Termination
          Notice must state that the Member may appeal to the Society at the
          next Meeting by giving written notice to the Secretary (“Member’s
          Notice”) within 14 days of the Member’s receipt of the Termination
          Notice.
        </li>
      </ul>
      <p class="mt-3">
        If the Member gives the Member’s Notice to the Secretary, the Member
        will have the right to be fairly heard at a Society Meeting held within
        the following 28 days. If the Member chooses, the Member may provide the
        Secretary with a written explanation of the events as the Member sees
        them (“the Member’s Explanation”), and the Member may require the
        Secretary to give the Member’s Explanation to every other Member within
        7 days of the Secretary receiving the Member’s Explanation. If the
        Member is not satisfied that the other Society Members have had
        sufficient time to consider the Member’s Explanation, the Member may
        defer his or her right to be heard until the following Society Meeting.
        When the Member is heard at a Society Meeting, the Society may question
        the Member and the Committee Members.
      </p>

      The Society shall then by majority vote decide whether to let the
      termination stand, or whether to reinstate the Member. The Society’s
      decision will be final.

      <h2 class="mt-3">15 Obligations of Members</h2>

      <ol>
        <li>
          All Members (and Committee Members) shall promote the purposes of the
          Society and shall do nothing to bring the Society into disrepute.
        </li>
      </ol>

      <h1 class="mt-6">Money and other assets of the society</h1>
      <v-divider></v-divider>

      <h2 class="mt-3">16 Use of Money and Other Assets</h2>
      <ol>
        <li>The Society may only Use Money and Other Assets if:</li>
      </ol>
      <ul class="ml-3">
        <li>It is for a purpose of the Society;</li>
        <li>
          It is not for the sole personal or individual benefit of any Member;
          and
        </li>
        <li>
          That Use has been approved by either the Committee or by majority vote
          of the Society.
        </li>
      </ul>
      <h2 class="mt-3">17 Joining Fees, Subscriptions and Levies</h2>
      <ol>
        <li>
          If any Member does not pay a Subscription or levy by the date set by
          the Committee or the Society, the Secretary will give written notice
          that, unless the arrears are paid by a nominated date, the Membership
          will be terminated. After that date, the Member shall (without being
          released from the obligation of payment of any sums due to the
          Society) have no Membership rights and shall not be entitled to
          participate in any Society activity.
        </li>
      </ol>

      <h2 class="mt-3">18 Additional Powers</h2>

      <ol>
        <li>The Society may:</li>
      </ol>
      <ul class="ml-3">
        <li>Employ people for the purposes of the Society;</li>
        <li>Exercise any power a trustee might exercise;</li>
        <li>Invest in any investment that a trustee might invest in;</li>
        <li>
          Borrow money and provide security for that if authorised by Majority
          vote at any Society Meeting.
        </li>
      </ul>
      <h2 class="mt-3">19 Financial Year</h2>

      <ol>
        <li>
          The financial year of the Society begins on 1 April of every year and
          ends on 31 March of the next year.
        </li>
      </ol>

      <h2 class="mt-3">20 Assurance on the Financial Statements</h2>

      <ol>
        <li>
          No review or audit of the annual financial statements is required
          unless a review or audit is requested by 5% of the Members at any
          properly convened Society Meeting.
        </li>
      </ol>

      <h1 class="mt-6">Conduct of meetings</h1>
      <v-divider></v-divider>
      <h2 class="mt-3">21 Society Meetings</h2>
      <ol>
        <li>
          A Society Meeting is either an Annual General Meeting or a Special
          General Meeting.
        </li>
        <li>
          The Annual General Meeting shall be held once every year no later than
          five months after the Society’s balance date. The Committee shall
          determine when and where the Society shall meet within those dates.
        </li>
        <li>
          Special General Meetings may be called by the Committee. The Committee
          must call a Special General Meeting if the Secretary receives a
          written request signed by at least 10% of the Members.
        </li>
        <li>The Secretary shall:</li>
      </ol>
      <ul class="ml-3">
        <li>
          Give all Members at least 14 days Written Notice of the business to be
          conducted at any Society Meeting
        </li>
        <li>Additionally, the Secretary will provide, appropriate:</li>
        <li class="ml-3">
          A copy of the Chair/President’s Report on the Society’s operations and
          of the Annual Financial Statements as approved by the Committee,
        </li>
        <li class="ml-3">
          A list of Nominees for the Committee, and information about those
          Nominees if it has been provided. (The Secretary must not provide
          Members with information exceeding one side of an A4 sheet of paper
          per Nominee)
        </li>
        <li>
          Notice of any motions and the Committee’s recommendations about those
          motions.
        </li>
      </ul>
      <p class="mt-3">
        If the Secretary has sent a notice to all Members in good faith, the
        Meeting and its business will not be invalidated simply because one or
        more Members do not receive the notice.
      </p>
      <ol start="5">
        <li>All Members may attend and vote at Society Meetings.</li>
        <li>
          No Society Meeting may be held unless at least 66 % of eligible
          Members attend. (This will constitute a quorum.)
        </li>
        <li>
          All Society Meetings shall be Chaired by the Co-Presidents. If the
          both the Co-Presidents are absent, the Society shall elect another
          Committee Member to Chair that meeting. Any person Chairing a Society
          Meeting has a casting vote.
        </li>
        <li>
          On any given motion at a Society Meeting, the Co-Presidents shall in
          good faith determine whether to vote by:
        </li>
      </ol>
      <ul class="ml-3">
        <li>Voices;</li>
        <li>Show of hands; or</li>
        <li>Secret ballot.</li>
      </ul>

      <p class="mt-3">
        However, if any Member demands a secret ballot before a vote by voices
        or show of hands has begun, voting must be by secret ballot. If a secret
        ballot is held, the Chair/President will have a casting, that is, second
        vote.
      </p>
      <ol start="9">
        <li>The business of an Annual General Meeting shall be:</li>
      </ol>
      <ul class="ml-3">
        <li>Receiving any minutes of the previous Society’s Meeting(s);</li>
        <li>The Co-President’s report on the business of the Society;</li>
        <li>
          The Treasurer’s report on the finances of the Society, and the Annual
          Financial Statements;
        </li>
        <li>Election of Committee Members;</li>
        <li>Motions to be considered;</li>
        <li>General business.</li>
      </ul>
      <ol start="10">
        <li>
          The Co-Presidents or their nominee shall adjourn the meeting if
          necessary.
        </li>
        <li>
          Adjourned Meetings: If within half an hour after the time appointed
          for a meeting a quorum is not present the meeting, if convened upon
          requisition of members, shall be dissolved; in any other case it shall
          stand adjourned to a day, time and place determined by the
          Co-Presidents of the Society, and if at such adjourned meeting a
          quorum is not present the meeting shall be dissolved without further
          adjournments. The Co-Presidents may with the consent of any Society
          Meeting adjourn the same from time to time and from place to place but
          no business shall be transacted at any adjourned meeting other than
          the business left unfinished at the meeting from which the adjournment
          took place.
        </li>
      </ol>
      <h2 class="mt-3">22 Motions at Society Meetings</h2>

      <ol>
        <li>
          Any Member may request that a motion be voted on (“Member’s Motion”)
          at a particular Society Meeting, by giving written notice to the
          Secretary at least 28 days before that meeting. The Member may also
          provide information in support of the motion (“Member’s Information”).
          The Committee may in its absolute discretion decide whether or not the
          Society will vote on the motion. However, if the Member’s Motion is
          signed by at least 66 % of eligible Members:
        </li>
      </ol>
      <ul class="ml-3">
        <li>
          It must be voted on at the Society Meeting chosen by the Member; and
        </li>
        <li>
          The Secretary must give the Member’s Information to all Members at
          least 14 days before the Society Meeting chosen by the Member; or
        </li>
        <li>
          If the Secretary fails to do this, the Member has the right to raise
          the motion at the following Society Meeting.
        </li>
      </ul>

      <ol start="2">
        <li>
          The Committee may also decide to put forward motions for the Society
          to vote on (“Committee Motions”) which shall be suitably notified.
        </li>
      </ol>

      <h1 class="mt-6">Altering the rules</h1>
      <v-divider></v-divider>
      <h2 class="mt-3">24 Altering the Rules</h2>

      <ol>
        <li>
          The Society may alter or replace these Rules at a Society Meeting by a
          resolution passed by a two-thirds majority of those Members present
          and voting.
        </li>
        <li>
          Any proposed motion to amend or replace these Rules shall be signed by
          at least 66 % of eligible Members and given in writing to the
          Secretary at least 28 days before the Society Meeting at which the
          motion is to be considered, and accompanied by a written explanation
          of the reasons for the proposal.
        </li>
        <li>
          At least 14 days before the General Meeting at which any Rule change
          is to be considered the Secretary shall give to all Members written
          notice of the proposed motion, the reasons for the proposal, and any
          recommendations the Committee has.
        </li>
        <li>
          When a Rule change is approved by a General Meeting no Rule change
          shall take effect until the Secretary has filed the changes with the
          Registrar of Incorporated Societies.
        </li>
      </ol>
      <h1 class="mt-6">Bylaws</h1>
      <v-divider></v-divider>
      <h2 class="mt-3">25 Bylaws to govern the Society</h2>

      <ol>
        <li>
          The Committee may from time-to-time make, alter or rescind bylaws for
          the general management of the society, so long as these are not
          repugnant to these rules or to the provisions of law. All such bylaws
          shall be binding on members of the Society. A copy of the bylaws for
          the time being, shall be available for inspection by any member on
          request to the Secretary.
        </li>
      </ol>

      <h1 class="mt-6">Winding up</h1>
      <v-divider></v-divider>
      <h2 class="mt-3">26 Winding up</h2>

      <ol>
        <li>If the Society is wound up:</li>
      </ol>
      <ul class="ml-3">
        <li>The Society’s debts, costs and liabilities shall be paid;</li>
        <li>
          Surplus Money and Other Assets of the Society may be disposed of:
        </li>
        <li class="ml-3">By resolution; or</li>
        <li class="ml-3">
          According to the provisions in the Incorporated Societies Act 1908;
          but
        </li>
        <li class="ml-3">No distribution may be made to any Member;</li>
      </ul>
      <p class="mt-3">
        The surplus Money and Other Assets shall be donated to a well known and
        recognised public charity organisation.
      </p>
      <h1 class="mt-6">Definitions</h1>
      <v-divider></v-divider>
      <h2 class="mt-3">27 Definitions and Miscellaneous matters</h2>

      <ol>
        <li>In these Rules:</li>
      </ol>
      <ul class="ml-3">
        <li>
          “Majority vote” means a vote made by more than half of the Members who
          are present at a Meeting and who are entitled to vote and voting at
          that Meeting upon a resolution put to that Meeting.
        </li>
        <li>
          “Money or Other Assets” means any real or personal property or any
          interest therein, owned or controlled to any extent by the Society.
        </li>
        <li>
          “Society Meeting” means any Annual General Meeting, or any Special
          General Meeting, but not a Committee Meeting.
        </li>
        <li>
          “Use Money or Other Assets” means to use, handle, invest, transfer,
          give, apply, expend, dispose of, or in any other way deal with, Money
          or Other Assets.
        </li>
        <li>
          “Written Notice” means communication by post, electronic means
          (including email, and website posting), or advertisement in
          periodicals, or a combination of these methods.
        </li>
      </ul>

      <p class="mt-3">
        It is assumed that
      </p>
      <ul class="ml-3">
        <li>Where a masculine is used, the feminine is included</li>
        <li>
          Where the singular is used, plural forms of the noun are also inferred
        </li>
        <li>Headings are a matter of reference and not a part of the rules</li>
      </ul>
      <p class="mt-3">
        Matters not covered in these rules shall be decided upon by the
        Committee.
      </p>
    </v-container>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped></style>
