<template>
  <div>
    <v-img
      src="https://awsug-image-bank.s3-ap-southeast-2.amazonaws.com/meetup1.jpg"
      class="white--text align-end"
      gradient="to bottom, rgba(0,0,0,0), rgba(0,0,0,.2)"
      height="250px"
    >
    </v-img>
    <h2 class="headline mt-3 accent--text">
      About the Group
    </h2>
    <p class="subtitle-1 grey--text text--lighten-2">
      New Zealand's premier AWS Community! User-run, user-focused, with monthly
      meetups in Wellington.
    </p>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped></style>
