<template>
  <div>
    <v-img
      src="https://awsug-image-bank.s3-ap-southeast-2.amazonaws.com/meetup3.jpg"
      class="white--text align-end"
      gradient="to bottom, rgba(0,0,0,0), rgba(0,0,0,.2)"
      height="250px"
    >
    </v-img>
    <h2 class="headline mt-3 accent--text">
      Join Us
    </h2>
    <p class="subtitle-1 grey--text text--lighten-2">
      Meet other AWS users in Wellington at our monthly events, and stay in the
      know. See
      <a
        href="https://www.meetup.com/Amazon-Web-Services-Wellington-User-Group/"
        >Meetup</a
      >
      for details.
    </p>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped></style>
