<template>
  <div>
    <v-toolbar
      dark
      prominent
      src="https://awsug-image-bank.s3-ap-southeast-2.amazonaws.com/pawel-czerwinski2-nav.jpg"
    >
      <div class="d-flex align-center mt-8">
        <router-link to="/">
          <v-img
            alt="AWS User Group Logo"
            class="mr-3 mt-1"
            src="https://awsug-image-bank.s3-ap-southeast-2.amazonaws.com/logo-onblack-simple.png"
            transition="scale-transition"
            :width="$vuetify.breakpoint.mdAndUp ? 184 : 130"
          />
        </router-link>
        <router-link to="/" style="color: white; text-decoration: none;">
          <p
            :class="{
              'display-2 mt-4': $vuetify.breakpoint.mdAndUp,
              'display-1 mt-4': $vuetify.breakpoint.smAndDown
            }"
          >
            AOTEAROA
          </p>
        </router-link>
      </div>
    </v-toolbar>
  </div>
</template>

<script></script>

<style lang="scss" scoped></style>
