<template>
  <v-footer color="primary" padless>
    <v-row justify="center" no-gutters>
      <v-btn
        v-for="link in links"
        :key="link.name"
        color="white"
        text
        rounded
        class="my-2"
        :to="link.route"
      >
        {{ link.name }}
      </v-btn>
      <v-col class="secondary text-center white--text" cols="12">
        <v-icon>mdi-copyright</v-icon>
        {{ new Date().getFullYear() }} <span class="mx-12"></span>
        <strong>AWS User Group</strong> <span class="mx-12"></span>
        <a href="mailto:enquiries@awsug.nz">enquiries@awsug.nz</a>
      </v-col>
    </v-row>
    <v-overlay
      :absolute="absolute"
      :opacity="opacity"
      :value="overlay"
      color="black"
    >
      <Palette />
      <v-row justify="center" no-gutters>
        <v-btn color="secondary" @click="overlay = false">
          Hide Palette
        </v-btn>
      </v-row>
    </v-overlay>
  </v-footer>
</template>

<script>
import Palette from "@/components/Palette";
export default {
  components: {
    Palette
  },
  data: () => ({
    links: [
      { name: "Home", route: "/" },
      // { name: "About Us", route: "/about" },
      // { name: "Team", route: "/team" },
      // { name: "Services", route: "/" },
      // { name: "Blog", route: "/blog" },
      { name: "Account", route: "/account" }
    ],
    absolute: false,
    opacity: 1,
    overlay: false
  })
};
</script>
