<template>
  <v-container>
    <v-col cols="12">
      <div>
        <h1 class="display-3 text-center">Fantasy Palette</h1>
        <br />
      </div>
      <br />
      <br />
      <v-row>
        <v-alert color="primary" width="500">
          Primary
        </v-alert>
      </v-row>
      <v-row>
        <v-alert color="secondary" width="500">
          Secondary
        </v-alert>
      </v-row>
      <v-row>
        <v-alert color="accent" light width="500">
          Accent
        </v-alert>
      </v-row>
      <v-row>
        <v-alert type="success" width="500">
          Success
        </v-alert>
      </v-row>
      <v-row>
        <v-alert type="info" width="500">
          Info
        </v-alert>
      </v-row>
      <v-row>
        <v-alert type="warning" width="500">
          Warning
        </v-alert>
      </v-row>
      <v-row>
        <v-alert type="error" width="500">
          Error
        </v-alert>
      </v-row>
    </v-col>
  </v-container>
</template>

<script></script>

<style lang="scss" scoped></style>
