<template>
  <v-app>
    <NavBar />
    <v-content>
      <transition name="fade">
        <router-view />
      </transition>
    </v-content>
    <NavFooter />
  </v-app>
</template>

<script>
import NavBar from "@/components/NavBar";
import NavFooter from "@/components/NavFooter";

export default {
  name: "App",
  components: {
    NavBar,
    NavFooter
  },
  data: () => ({
    //
  })
};
</script>
<style lang="scss" scoped>
.fade-enter-active,
.fade-leave-active {
  transition-property: all;
  transition-duration: 0.25s;
}

.fade-enter-active {
  transition-delay: 0.25s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
  transform: translateX(-25px);
}
</style>
